In [93]:


import pandas as pd
import numpy as np

climate = pd.read_csv("C:/Users/Sebastian/OneDrive/Swinburne/Year 3/Data vis COS30045/DataSets/Climate-related_Disasters_Frequency.csv")
temp = pd.read_csv("C:/Users/Sebastian/OneDrive/Swinburne/Year 3/Data vis COS30045/DataSets/Annual_Surface_Temperature_Change_Trimmed.csv")
pop = pd.read_csv("DP_LIVE_08052023031909433.csv")
mig = pd.read_csv("C:/Users/Sebastian/OneDrive/Swinburne/Year 3/Data vis COS30045/DataSets/TotalByCountryByYear.csv")

In [94]:
new_names = {}
for col in temp.columns:
    if col.startswith('T'):
        new_names[col] = col[1:]
temp = temp.rename(columns=new_names)

In [95]:
temp = temp[['ISO3','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']]

In [96]:
new_names = {}
for col in climate.columns:
    if col.startswith('F'):
        new_names[col] = col[1:]
climate = climate.rename(columns=new_names)

In [97]:
climate = climate.loc[climate['Indicator']=="Climate related disasters frequency, Number of Disasters: TOTAL"]

In [98]:
climate = climate[['ISO3', 'Indicator','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']]

In [99]:
id_vars = ['ISO3','Indicator']
df_melted = pd.melt(climate, id_vars=id_vars, var_name='Year', value_name='Value')
df_melted

     ISO3                                          Indicator  Year  Value
0     AFG  Climate related disasters frequency, Number of...  2000    1.0
1     ALB  Climate related disasters frequency, Number of...  2000    NaN
2     DZA  Climate related disasters frequency, Number of...  2000    5.0
3     ASM  Climate related disasters frequency, Number of...  2000    NaN
4     AGO  Climate related disasters frequency, Number of...  2000    5.0
...   ...                                                ...   ...    ...
4725  WLF  Climate related disasters frequency, Number of...  2021    NaN
4726  PSE  Climate related disasters frequency, Number of...  2021    NaN
4727  YEM  Climate related disasters frequency, Number of...  2021    2.0
4728  ZMB  Climate related disasters frequency, Number of...  2021    1.0
4729  ZWE  Climate related disasters frequency, Number of...  2021    2.0

[4730 rows x 4 columns]

In [100]:
id_vars = ['ISO3']
temp = pd.melt(temp, id_vars=id_vars, var_name='Year', value_name='Temp')

In [101]:
df_melted = df_melted.rename(columns={'Value': 'Disaster Count'})
df_melted['Year']=df_melted['Year'].astype(int)
mig['Year'] = mig['Year'].astype(int)
temp['Year'] = temp['Year'].astype(int)
df_merged = df_melted.merge(mig, on=['ISO3', 'Year'], how='inner')

In [102]:
pop = pop.loc[pop["SUBJECT"] == "TOT"]
df_merged = df_merged.rename(columns={"Value": "outflow_migration"})
pop = pop.rename(columns={"Value": "population_millions"})

In [103]:
df_merged = df_merged.merge(temp, on=['ISO3', 'Year'], how='inner')

df_merged = df_merged.merge(pop, on=['ISO3', 'Year'], how='inner')

In [104]:
df_merged.to_csv('C:/Users/Sebastian/OneDrive/Swinburne/Year 3/Data vis COS30045/DataSets/merged.csv')